@page "/"

<PageTitle>Principal</PageTitle>

<div class="">
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">Desenvolvimento Web</h1>
            <div class="d-inline-flex">
                <div class="col-md-6 me-5">
                    <div>
                        <h2>Trabalhando com Listas</h2>
                        <p class="col-md-12 fs-5">
                            Como trabalhar com listas utilizando exemplos de uso da classe
                            <i>List</i> para criar páginas exibindo <strong>Listas</strong>
                            e <strong>Tabelas HTML</strong>.
                        </p>
                    </div>
                    <div>
                        <p class="col-md-8 fs-5">
                            Temas abordados:
                        </p>
                        <ul>
                            <li>List&lt;T&gt; </li>
                            <li> @@for</li>
                            <li>@@foreach</li>
                            <li>Lista não ordenada (ul)</li>
                            <li>Lista ordenada (ol)</li>
                            <li>Tabelas (table)</li>
                            <li>LINQ (Where, First)</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div>
                        <h2>Trabalhando com CRUD</h2>
                        <p class="col-md-12 fs-5">
                            Explicação de como trabalhar com as operções <strong>CRUD</strong>&nbsp;
                            (<i>Create, Read, Update, Delete</i>).
                        </p>
                    </div>
                    <div>
                        <p class="col-md-8 fs-5">
                            Temas abordados:
                        </p>
                        <ul>
                            <li>Listar Objetos</li>
                            <li>Deletar Objetos</li>
                            <li>Cadastrar Objetos</li>
                            <li>Editar Objetos</li>
                            <li>Formulários</li>
                            <li>Injeção de Dependência</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
